/* General styling */
body {
  font-family: "Playfair Display", sans-serif;
  background-color: #f34848;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}
/* Question styling */
#question {
  font-size: 20px;
  margin-bottom: 20px;
  color: black;
}
/* Answer buttons */
.answer-btn {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 1rem;
  background-color: #087e2a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.answer-btn:hover {
  background-color: goldenrod;
}
.answer-btn:active {
  background-color: #004085;
}
/* Score styling */
#score {
  margin-top: 20px;
  font-size: 1.2rem;
  color: black;
}
/* Timer styling */
#time {
  margin-top: 20px;
  font-size: 1.2rem;
  color: black;
}